@model IEnumerable<RoyalFinalApp.Models.Testimonial>

@{
    ViewData["Title"] = "Index";
    Layout = "~/areas/Admin/Views/shared/_DashboardLayout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.IsPuplished)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    <form>
                        @if (item.IsPuplished==false)
                        {
                            <input asp-action="Publish" value="Yes" type="submit" asp-route-id="@item.Id">
                        }
                        else
                        {
                            <input asp-action="UnPublished" value="No" type="submit" asp-route-id="@item.Id">
                        }
                    </form>
                </td>
                <td>
                    <form>
                        @if (item.IsDeleted==false)
                        {
                            <input asp-action="SoftDelete" value="Hide" type="submit" asp-route-id="@item.Id">
                        }
                        else
                        {
                            <input asp-action="RestoreSoftDelete" value="Restore" type="submit" asp-route-id="@item.Id">
                        }
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <tfooter>

        <td>
            <a asp-action="AllHide">see all hide</a>
        </td>
        <td>
            <a asp-action="Index">Back to list</a>
        </td>
        <td>
            <a asp-action="UnPublishedList">UnPublished yet!</a>
        </td>
    </tfooter>
</table>
